   .swal-custom-popup {
        border-radius: 1rem !important;
        padding: 2rem !important;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    .swal-custom-title {
        font-size: 1.4rem;
        font-weight: 600;
    }

    .swal-custom-html {
        font-size: 1rem;
    }